.unslider{overflow:hidden;margin:0;padding:0;position: relative; width: 100%;height: 480px;}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none;text-align:center;}
.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer; top: 50%; margin-top: -30px; font-size: 48px; color: #333; opacity: 0.5; text-shadow:1px 1px 0px #fff;}
.unslider-arrow.next{left:auto;right:20px}

.unslider-arrow:hover{
	opacity: 1
}

.unslider-nav ol li {
			display: inline-block;
			float: none;
			width: 6px;
			height: 6px;
			margin: 0 4px;
			padding: 3px;

			background: transparent;
			border-radius: 5px;
			overflow: hidden;
			text-indent: -999em;
			border: 2px solid #fff;
			cursor: pointer;

			opacity: .4;
		}
.unslider-nav ol li.unslider-active {
			background: #fff;
			cursor: default;
			opacity: 1;
		}

.unslider-nav{
	position:absolute;
	left: 0;
	right:0;
	bottom: 30px;
	margin: auto
}
.unslider-wrap.unslider-carousel li a{height:480px; background-position:center; background-repeat:no-repeat;}