/*列表页面*/
/*页面样式*/
/*顶部分类搜索*/  
.navTitle{color:#005aab; font-size:16px;}
.seach_type{margin-top:30px; height:45px; border-bottom:2px solid #c10006; position:relative;}
.seach_type .Nametype{width:220px; float:left; height:43px; background:#c10006;position:relative;}
.seach_type .Nametype h3{color:#fff; overflow: hidden; font-weight:bolder; line-height:45px; padding:0 10px; margin:0px;}
.seach_type .Nametype h3 span{float:left;}
.seach_type .Nametype h3 i{float:right;margin-top:12px;transition-duration:0.5s;transform:rotate(180deg)}
.seach_type .Nametype h3 .fxxz{transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);}

.seach_type .Nametype .treeList{ display:none;}
.seach_type .Nametype .treeList ul{padding:0px; margin:0px;}
.seach_type .Nametype .treeList ul li{list-style: none; margin:0px; position:relative;}
.seach_type .Nametype .treeList ul li a{display:block; line-height: 35px; position: relative; z-index: 10; height:35px; padding:0 10px; color:#fff; background:#c10006;}
.seach_type .Nametype .treeList ul li a span{float:left;}
.seach_type .Nametype .treeList ul li a i{float:right; margin-top:10px;}

.seach_type .Nametype .treeList .navList{position:absolute; left:219px; overflow: hidden; display:none; z-index: 9; border:1px solid #c10006; top:0px; background:#fff; width:500px; height:90px; }

.seach_type .Nametype .treeList .navList a{background:#fff; color:#333; display:inline-block;}
.seach_type .Nametype .treeList .navList a:hover{background:none;}
.seach_type .Nametype .treeList li:hover a{background: #fff;}
.seach_type .Nametype .treeList li:hover a span{color:#c10006;}
.seach_type .Nametype .treeList li:hover .navList{display:block;}
.seach{float:right; margin-right:200px; overflow:hidden; margin-top:1px;}
.seach input{width:500px; float:left; border:1px solid #c10006; height:35px; line-height:35px; padding:0 10px;}
.seach .seach_btn{background:#c10006; border:none; margin-top:0px; height:35px; width:100px; text-algin:center; color:#fff;font-size:16px; font-weight:800;}
.gwc{width:165px; position:absolute; right:0px; height:34px; border:1px solid #dcdcdc; background:#f3f4f8}
.gwc .gNum{position:absolute; right:20px; top:-10px; color:#fff; background:#c10006; width:20px; height:20px; line-height:20px; text-align:center; border-radius:20px}
.gwc h3 span{margin-left:10px;font-size:14px; color:#666;}

/*筛选*/
.navScreen{border-bottom:1px solid #dcdcdc; margin-top:20px;}
.navScreen ul {list-style-type: none; margin:0px; padding:0px;}
.navScreen ul li{border-top:1px solid #dcdcdc; overflow: hidden; line-height: 35px;}
.navScreen ul li .title{display: inline-block; background:#f3f4f8; padding-left:20px; width:85px; float:left;}
.navScreen ul li .typeList{float:left; width:1000px; height:35px;}
.navScreen ul li .typeList_open{height:auto}
.navScreen ul li .typeList a{display:inline-block; padding:0 10px; text-align: center;}
.navScreen ul li .typeList a:hover{color:#f00;}
.navScreen ul li .listMore{float:right; background: none;}
.navScreen ul li .moeny{float:right;}
.navScreen ul li .moeny input{width:50px; line-height: 25px; height:25px;float:left; margin-top:6px;}

.navScreen ul li .moeny .lineIcon{float:left;line-height:10px; margin:0 5px; width:10px; margin-top:14px;}
.navScreen ul li .moeny a{display:inline-block; width:50px; height:25px; line-height: 25px; margin-top:5px; background: #f3f4f8; border:1px solid #dcdcdc; color:#333; text-align: center;}
.moeny .seach_btn{background:#c10006; border:none; margin-top:0px; height:25px; line-height:20px; margin-left:10px; width:60px; text-algin:center; color:#fff;font-size:14px;}

/*排序按钮*/
.sortBox{margin:20px 0; background:#f3f4f8; padding:7px 8px;}
.sortBox .sortBtn{display:inline-block; line-height:25px; font-weight:800; text-align:center; background:#f62134; color:#fff; height: 25px; width:110px; text-align: center;}
.sortBox .pBtn{width:50px;text-align: center; height: 25px; line-height:25px; border:1px solid #dcdcdc; color:#ababac; font-size:18px;}
.sortBox span{line-height:25px;margin-right:20px;}

/*列表*/
.gl_warp{overflow:hidden;}
.gl_warp ul{margin:0px; padding:0px; width:100%;}
.gl_warp ul li{list-style: none; width:275px; margin-bottom:30px; overflow: hidden; float:left; margin-right:16px; border:1px solid #fff; border-bottom:1px solid #f0f0f0;}
.gl_warp ul li a .glImg{width:213px; height: 248px;}
.gl_warp ul li .price{font-size:14px; color:#f62134; font-weight:800px; margin-top:10px; margin-left:10px;}
.gl_warp ul li .price span{font-size:14px; color:#f62134; margin-right:5px;}
.gl_warp ul li .glName{margin-left:10px; height:57px; overflow: hidden; margin-top:15px; display: block; color:#666; font-size: 13px; }
.gl_warp ul li .glName span{display:block; float:left;}

.gl_warp ul li:hover{border:1px solid #dbdbdb;}

/*产品详情页面*/
.detais{overflow: hidden; margin-top:30px;}
.productImg{width:376px;height:328px;float:left;margin-right:30px; position:relative;}
.productImg ul {margin:0px; padding:0px;}
.productImg ul li{position:absolute; top:0px; left:0px; width:376px; height:328px; z-index: 0;}
.productImg ul li img{width:100%;height:100%;}
.productImg .imgLine{overflow: hidden; height:20px; line-height:22px; position:absolute; left:0px; right:0px; bottom:5px; z-index:1; text-align:center;}
.productImg .imgLine a{display:inline-block; overflow: hidden; width:20px; height:20px; background:#919191; text-align:center; color:#fff; border-radius:15px;}
.productImg .imgLine .active{background:#c10006}


.content_detail{width:600px;}
.content_detail h3{font-size:16px; color:#666;}
.detail_address{background:#f3f4f8; padding:10px 15px 25px;}
.detail_address .items{margin-top:15px; overflow: hidden; color:#999; font-weight:800;}
.detail_address .items h3{float:left; line-height: 30px; font-weight:800; margin:0px; padding:0px; font-size:13px;}
.detail_address .items p{float:left; margin:0px; padding:0px; line-height: 30px; margin-left:10px;}
.detail_address .items .price{color:#f62134; font-weight:800; font-size:20px;}
.detail_address .items .price span{font-size:14px; margin-right:5px;}
.prnum{margin-left:15px; margin-top:30px;}
.prnum h3{font-size:13px;float:left; line-height:25px;}
.prnum .addCat{color:#fff; margin-left:25px; float:left; font-size: 16px; font-weight:800; background:#f62134;
	padding:0 15px; line-height:30px; border-radius:4px; height:30px;}
.prnum .addCat i{margin-right:10px;}
.prnum input{height:25px;margin-top:3px; width:25px;}
.prnum .nTxt{width:50px; text-align:center;}

.prductTab{margin-top:30px;}
.prductTab .navTab{ position:relative; height: 36px; background:#f3f4f8; border:1px solid #e5eaf2; border-left:none;}
.prductTab .navTab a{width:150px; float:left; position:relative; border-left:1px solid #e5eaf2; line-height:25px; color:#666; font-size:16px; line-height:35px;font-size:14px; width:100px; text-align: center;}
.prductTab .active{border-top:3px solid #f62134; top:-3px; background: #fff;}


.tabList .tabcontent{display:none;}

.fxxz{
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);	
	-moz-transform: rotateX(180deg);
}




