
.eq_filter {
    overflow: hidden;
    padding-top: 5px;
    margin-bottom: 0px;
    font-size:14px;
    padding-bottom:10px;
}
.eq_filter_area {
    overflow: hidden;
    display: block
}
.eq_filter dt{
    float:left;
    margin-right:5px;
}
.eq_filter dd{
    float:left;
    margin-right:5px;

}
a{
    padding: 0 10px;
    
    cursor: pointer;
}
#searchForm a{
    margin-right: 20px;
}
.eq_filter .active a {
        padding: 0 10px;
        background-color: #a51c30;
        border-radius: 3px;
        color: #fff;
        margin-right: 20px;
        cursor: pointer;
        
}